//
   Created by Sarah on 10/23/2014.
.headerwrapper
    .navbarwrapper
        .navbar
            ul.nav.navbar-nav
                li.active
                    a(href='') Home
                li
                    a(href='#') About
                li
                    a(href='projects') Projects
                li
                    a(href='#') Blog
                li
                    a(href='#') Contact
    .topimg
        div